.Calci{
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
   background-color: #f5f5f5;
}
h1{
    margin-bottom: 20px;
    position:relative;
    margin-left: 500px;
    color: blue;

}
.container{
    /* justify-content: center;
    align-items: center; */
    margin-left: 500px;
    width: 250px;
    height: 400px;
    margin-top: 100px;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    background-color: black;
}
input[type="text"]{
    width: 230px;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    background-color: #444;
    border: none;
    text-align: right;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgba(255,255,255,0.2);

}
.keypad{
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(6px, auto);
    gap: 5px;
}
button{
    margin: 5px;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    background-color: #777;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: #888;
    transform: scale(1.05);
}
#clear{
    background-color: crimson;
    color: white;
    grid-column: 1/3;
}
#equal{
    background-color: green;
    color: white;
    grid-column: 3/5;
}
.highlight{
    color: white;
    background-color: rgb(243, 148, 5);
}
#zero{
    background-color: red;
    color: white;
}